// .cart-container {
//   padding: 70px 0 70px 70px;
// }
.sectionStory {
  gap: 70px;
  margin-top: 20px;
  .story {
    color: #000000;
    h1 {
      font-size: 54px;
      font-weight: 600;
    }
    p {
      margin-top: 20px;
      font-size: 16px;
    }
  }
  .story-image img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .sectionStory {
    flex-direction: column;
  }
}
