.cart-container {
  padding: 70px;
}
.qty {
  gap: 25px;
  border: 1px solid #ddd;
  width: 72px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-btn {
  background-color: white;
  color: #000000;
  padding: 16px 48px;
  border: 1px solid #00000080;
  border-radius: 5px;
  font-size: 16px;
}
.buy {
  padding-top: 50px;
}
.cabon input {
  border: none;
  outline: none;
  width: 300px;
  height: 56px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #00000080;
}
.cabon button {
  border: none;
  padding: 16px 48px;
  color: white;
  border-radius: 5px;
  background-color: #db4444;
  margin-left: 30px;
}
.checkout {
  width: 470px;
  height: 324px;
  border: 1px solid #00000080;
  border-radius: 5px;
  padding: 20px;
}
.checkout p {
  padding: 8px;
}
.checkout a {
  padding: 16px 48px;
  color: white;
  border-radius: 5px;
  background-color: #db4444;
}
.buy-link {
  text-align: center;
}
.checkout .shipping,
.checkout .sub {
  border-bottom: 1px solid #ddd;
}
