.cart-container {
  padding: 5% 3%;
}
.head-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}
.qty {
  gap: 10px;
  border: 1px solid #ddd;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  .inc-dec span{
    font-size: 12px;
  }
}
.cart-btn {
  background-color: white;
  color: #000000;
  padding: 12px 32px;
  border: 1px solid #00000080;
  border-radius: 5px;
  font-size: 14px;
}
.buy {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.cabon {
  flex: 1;
  min-width: 280px;
}
.cabon input {
  border: none;
  outline: none;
  width: 100%;
  max-width: 280px;
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #00000080;
}
.cabon button {
  border: none;
  padding: 12px 24px;
  color: white;
  border-radius: 5px;
  background-color: #db4444;
  margin-left: 10px;
}
.checkout {
  width: 100%;
  max-width: 470px;
  border: 1px solid #00000080;
  border-radius: 5px;
  padding: 20px;
}
.checkout a,
.buy-link button {
  padding: 12px 32px;
  color: white;
  border-radius: 5px;
  background-color: #db4444;
  width: 100%;
  text-align: center;
}
.delete-cart {
  position: relative;
}
.delete-cart button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -6px;
  right: -10px;
  color: #db4444;
  font-size: 15px;
}
.head-details {
 display: flex;
}
@media screen and (max-width: 1024px) {
  .cart-container {
    padding: 4%;
  }
  .cabon button {
    margin-top: 10px;
  }
  .head-detail p {
    font-size: 14px;
  }

  .cart-btn {
    padding: 10px 20px;
    font-size: 12px;
  }

  .buy {
    flex-direction: column;
    align-items: center;
  }

  .checkout {
    width: 90%;
  }

  .cabon input {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cart-product {
    overflow-x: auto;
  }

  .head-detail {
    flex-direction: column;
    gap: 15px;
  }
  .head-details {
    display: none;
  }

  .qty {
    width: 50px;
    height: 35px;
    gap: 5px;
  }

  .cart-btn {
    font-size: 12px;
    padding: 8px 16px;
  }

  .checkout {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .head-detail p {
    font-size: 12px;
  }

  .cart-btn {
    padding: 8px 12px;
    font-size: 10px;
  }

  .buy {
    width: 100%;
  }

  .checkout {
    padding: 15px;
  }
}
