.container {
  position: relative;
  height: 100px;
  min-width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding: 60px 70px;
}
.active {
  background-color: #0d1611;
  color: white !important;
  border-radius: 6px;
}
.container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}
nav a {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.container ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  li a {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    position: relative;
  }
}
nav ul li .link {
  padding: 10px;
}
nav ul li .link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  transition: 0.3s ease;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color: #ddd;
}
li a:hover:not(.active):after {
  width: 100%;
}
.search {
  position: relative;
}
nav input {
  outline: none;
  border: none;
  background-color: #f5f5f5;
  padding: 7px 50px 7px 20px;
  border-radius: 5px;
  width: 250px;
  padding-left: 35px;
}
nav input::placeholder {
  font-size: 13px;
  color: #000000;
}
.shop-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.incr {
  position: relative;
}
.ch {
  background-color: #db4444;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.search-container {
  position: relative;
}
.search-icon {
  font-size: 18px;
  top: 30%;
  position: absolute;
  left: 10px;
  color: gray;
}
.search-results {
  position: absolute;
  width: 500px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 250px;
  overflow-x: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  z-index: 9999;
}
.search-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
  .a {
    color: white;
    background-color: #000000;
    padding: 8px;
    display: block;
    width: 100%;
    border-radius: 5px;
  }
}
.product-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}
.no-results {
  text-align: center;
  color: gray;
  padding: 10px;
}
.abs {
  position: absolute;
  right: 250px;
}
.user {
  position: absolute;
  top: -8px;
  width: 250px;
  background-color: #2c2b2b;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  list-style: none;
  padding: 0;
  z-index: 9999;
  li {
    cursor: pointer;
    padding: 0 15px;
    gap: 20px;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    width: 100%;
  }
  a {
    gap: 20px;
    color: white !important;
  }
}
//menue
.burger {
  display: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative;
}
.burger span {
  display: block;
  width: 100%;
  height: 4px;
  background: black;
  border-radius: 3px;
  position: absolute;
  transition: 0.3s;
}

.burger span:nth-child(1) {
  top: 0;
}
.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger span:nth-child(3) {
  bottom: 0;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.exit {
  position: fixed;
  left: -100px;
  top: 15px;
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 30px;
  transition: left 0.4s ease;
}
.lik {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1090px) {
  .lik {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .burger {
    display: block;
    left: -10px !important;
  }
  .link {
    color: white !important;
  }
  .active {
    background-color: #04030f;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background: #73c2be;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    z-index: 999;
  }
  .exit.open {
    position: fixed;
    left: 15px;
  }
  .burger.open {
    position: fixed;
    left: 10px !important;
  }
  .nav-links.open {
    left: 0;
  }
  .nav-links li {
    padding: 15px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  nav input {
    width: 250px !important;
  }
}

@media (max-width: 768px) {
  .search-container {
    display: none;
  }
}
@media (max-width: 512px) {
  nav {
    padding: 60px 0;
  }
  .logo {
    font-size: 20px !important;
  }
  .burger {
    font-size: 1px !important;
  }
}
