.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
  }

  label {
    opacity: 40%;
    font-size: 16px;
  }

  .inp {
    outline: none;
    border: none;
    background-color: #f5f5f5;
    padding: 7px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 470px; 
  }

  .check-Box {
    gap: 10px;
  }

  .cart-datas .head-details {
    gap: 50px; 
    .body-details {
      gap: 20px;
    }
  }

  .checkout {
    width: 100%;
    max-width: 470px;
    height: auto;
    border-radius: 5px;
    padding: 20px;
  }

  .radios {
    padding: 30px 0;
    align-items: start;
    gap: 10px;

    .input1,
    .input2 {
      gap: 20px;
    }

    .label {
      opacity: 100%;
    }
  }
}
.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.custom-checkbox + label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid red;
  border-radius: 3px;
  margin-right: 10px;
  display: inline-block;
  background-color: white;
}

.custom-checkbox:checked + label::before {
  background-color: red;
  content: "✔";
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}
.placeOrder {
  margin-top: 30px;
  padding: 16px 48px;
  color: white;
  border-radius: 5px;
  background-color: #db4444;
  margin-left: 30px;
  width: 100%;
  max-width: 300px;
}
.cabon button {
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .details {
    flex-direction: column;
    align-items: center;
  }

  .inputs,
  .checkout {
    width: 100%;
    max-width: 500px;
  }

  .cart-datas .head-details {
    gap: 20px;
  }

  .placeOrder {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .inputs .inp {
    font-size: 14px;
    padding: 7px 15px;
  }
  .radios .input1,
  .radios .input2 {
    gap: 10px;
  }

  .cabon {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .inputs .inp {
    font-size: 13px;
    padding: 5px 10px;
  }

  .placeOrder {
    font-size: 14px;
    padding: 12px 20px;
  }
}
