.fotter-container {
  position: relative;
  bottom: -17px;
  background-color: #000000;
  color: white;
  padding: 40px 20px;
}

.fotter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  padding: 30px 50px;
}

.fotter > div {
  flex: 1 1 200px;
  max-width: 250px;
  min-width: 200px;
}

.fotter .exclucive h4 {
  font-size: 24px;
  font-weight: 700;
}

.fotter .exclucive .send {
  position: relative;
  width: 100%;
}

.fotter .exclucive input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #000000;
  color: #ddd;
  border-radius: 5px;
}
.fotter .exclucive span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.fotter .google-icon {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.fotter .google-icon img {
  width: 120px;
  height: 50px;
  border-radius: 3px;
}

.botton-foot {
  text-align: center;
  opacity: 50%;
  font-size: 14px;
  padding: 10px;
}
.linkes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.linkes a {
  transition: 0.4s;
  padding: 10px;
}
.linkes a:hover {
  background-color: #00ff66;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .fotter {
    gap: 20px;
    justify-content: center;
    padding: 30px;
  }
  .fotter > div {
    max-width: 300px;
    text-align: center;
  }
  .fotter .google-icon {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .fotter {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .fotter > div {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .fotter {
    padding: 20px;
  }
  .fotter .exclucive input {
    padding: 8px;
  }
  .fotter .exclucive span {
    font-size: 14px;
  }
  .fotter .google-icon img {
    width: 100px;
    height: 40px;
  }
  .botton-foot {
    font-size: 12px;
  }
}
