.details-container {
  padding: 70px;
  justify-content: space-between;
  h3 {
    font-size: 24px;
  }
}
.details-container .products-image {
  width: 500px;
  height: 600px;
  background-color: rgba(245, 245, 245, 1);
  position: relative;
  border-radius: 6px;
  img {
    width: 446px;
    height: 315px;
    position: absolute;
    top: 145px;
    left: 27px;
  }
}
.product-price h3 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
.rate span {
  color: rgba(0, 0, 0, 1);
}
.rate .shok {
  color: rgba(0, 255, 102, 1);
  font-size: 14px;
  font-weight: 400;
}
.desc {
  width: 500px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}
.colors {
  font-size: 20px;
  font-weight: 400;
}
.change-colors {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
}

.radio {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}

.radio.green {
  border-color: black;
}

.radio.green:checked {
  background-color: green;
}

.radio.red:checked {
  background-color: red;
  border: none;
}
.product-size p {
  border: 1px solid #000000;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bg-red {
  background-color: #db4444;
  color: white;
}
